<div class="row">
    <div class="col-md-4" style="margin-top:5px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label for="product_search">ค้นหาสินค้า : </label>
                <input type="text" data-ng-model="product_search" class="form-control" id="product_search" placeholder="Search Product">
            </div>
        </div>
        <p class="text-right">
            <a href="#/addProduct" class="btn btn-danger"><i class="glyphicon glyphicon-plus"></i> เพิ่มสินค้า</a>
        </p>
    </div>
    <div class="col-md-8">
        <table class="table table-hover" data-ng-show="showp">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ชื่อสินค้า #</th>
                    <th>จำนวนสินค้า #</th>
                    <th>ราคาสินค้า #</th>
                    <th>แก้ไข #</th>
                    <th>ลบ #</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="p in products | filter:product_search">
                    <td data-ng-bind="$index+1"></td>
                    <td><a href="#/showProduct/{{$index}}" data-ng-bind="p.name"></a></td>
                    <td data-ng-bind="p.unit"></td>
                    <td data-ng-bind="p.price"></td>
                    <td><a href="" ng-click="editProduct($index)">แก้ไข</a></td>
                    <td><a href="#/delete/{{$index}}" onclick="return confirm('คุณต้องการลบสินค้ารหัสนี้จริงหรือ...')">ลบ</a></td>
                </tr>
            </tbody>
        </table>
        <div id="edit-Product" data-ng-hide="showp">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>แก้ไขสินค้า</h4>
                </div>
                <div class="panel-body">
                    <form id="add-product" name="add_product" data-ng-submit="edit_submitProduct()">
                        <input type="hidden" name="index_id">
                        <input type="text" name="name" placeholder="ชื่อสินค้า" class="form-control" required>
                        <input type="number" name="unit" placeholder="จำนวนสินค้า" class="form-control" required>
                        <input type="number" name="price" placeholder="ราคาสินค้า" class="form-control" required>
                        <textarea rows="2" name="image" class="form-control" placeholder="URL ภาพสินค้า"></textarea>
                        <textarea rows="3" name="detail" class="form-control" placeholder="รายละเอียดสินค้า"></textarea>
                        <p class="text-right">
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> แก้ไขสินค้า</button>
                            <button type="button" class="btn btn-primary" ng-click='showp=true'>ยกเลิก</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>