<form data-ng-submit="addData()">
    <fieldset>
        <legend>เพิ่มเว็บไซต์สอน Develop</legend>
        <ul class="form">
            <li>
                <input type="text" id="display" data-ng-model="dev.display" placeholder="ชื่อเว็บสอน Develop" required>
            </li>
            <li>
                <input type="text" id="url" data-ng-model="dev.url" placeholder="ที่อยู่เว็บสอน Develop" required>
            </li>
            <li>
                <input type="submit" value="Add Data">
                <input type="button" value="Close" onclick="location='#/'">
            </li>
        </ul>
    </fieldset>
</form>
<br>
<table class="table" border="1">
    <tr style="font-weight:bold;background-color:#e0e0e0;">
        <td>id #</td>
        <td>Diveloper Name #</td>
        <td>Developer Url #</td>
    </tr>
    <tr data-ng-repeat="dev in develop">
        <td data-ng-bind="$index+1"></td>
        <td data-ng-bind="dev.display"></td>
        <td><a href="{{dev.url}}" data-ng-bind="dev.url" target="_blank"></a></td>
    </tr>
</table>